<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="http://faizalfi.files.wordpress.com/2010/03/naruto-character-2.jpg"
            alt=""
            height="350px"
            width="600px"
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ornare egestas ex id gravida. Nam ornare metus iaculis, varius magna in, interdum velit. Nulla pretium cursus felis vitae volutpat. Etiam ex diam, volutpat id euismod eu, interdum ut ipsum. Maecenas elementum nisi augue, eu lobortis velit condimentum sed. Sed lacus arcu, rutrum in sollicitudin at, porta non nisl. Nam metus eros, commodo non nibh id, euismod laoreet tortor. Nam et sagittis quam. Integer iaculis convallis vehicula. Suspendisse eu luctus nibh, at porttitor metus. Etiam sit amet augue vel enim volutpat tempor.
            </a>
        </p>
    </div>
</div>
