<div class="cointaner_small-card">
    <div class="cointaner_small-card-content">
        <div class="small-card__photo">
            <img 
                src="http://pm1.narvii.com/6252/f0b29373ae903918b42fbb93ec601421de1582c6_00.jpg"
                alt=""  
            >
        </div>
        <div class="small-card__title">
            <h1><a href="#">Saiu a nova versão do angular</a></h1>
        </div>
    </div>
    <div class="cointaner_small-card-separator">
        <hr>
    </div>
</div>